<!---Initialize Home Page--->
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Artificial Voice Instrument</title>
        <link href="css/synthesizerstyle.css" rel="stylesheet" type="text/css">
    </head>
    <body>

      <div id="wrapper">

        <h1>Voice Synthesizer</h1>

        <div class="intro">
          <b><p class="Note">{{message}}</p></b>
        </div>

        <form id="synthesisform" name="synthesisform" action="{{url_for('predict')}}" method="post" class="info"></form>


        <!---Containerize main page for styling--->
        <div id="formfields">

          <section id="left-column">

            <div class="audioplayers">
              {% for af in audiofiles %}
              <div class="player">{{ loop.index }}
                <audio controls>
                    <source src="{{af}}" type="audio/wav">
                      Your browser does not support the audio tag.
                </audio>
              </div>
              {% endfor %}
            </div>

          </section>


          <section id="right-column">

            <div id="textdiv">
            <textarea id="text" name="text" rows="6" cols="50" form="synthesisform" placeholder="Type your text here...">{{text}}</textarea>
            </div>

            <div id="voicediv">
              <div class="flexlabel">
                <label for="voice">Voiceprint</label>
                <button id="refreshButton" type="button" name="refresh" class="btn-sm">refresh voices</button>
              </div>

            <select id="voice" name="voice" form="synthesisform"  placeholder="Choose a Voice" required="required"></select>

            <div id="voiceinfo" class="voiceinfo"></div>
            </div>

            <div>
            <label for="phonetics">Language</label>
            <select id="phonetic" form="synthesisform"  name="phonetics" placeholder="Choose a Language" required="required">
            {% for l in languages %}

              <option value= "{{l}}"D>{{l}}</option>

            {% endfor %}
            </select>
            </div>

            <div>
            <input id="fileslist" type="hidden" form="synthesisform"  name="fileslist" value="{% for af in audiofiles %};{{af}}{% endfor %}" />
            <button type="submit" form="synthesisform"  id="submitbutton" name="synthesizebutton" class="btn">Synthesize</button>
            </div>

            </section>

          </div><!-- END FORMFIELDS -->


        <!-- footer>
          <p><a href="https://ahnen.in/" target="_blank">In Search of Good Ancestors / Ahnen in Arbeit</a></p>
          <p><a href="http://varia.zone/" target="_blank">Varia</a></p>
          <p><a href="https://coqui.ai/" target="_blank">coqui.AI</a></p>
        </footer -->

        <footer>
          <p>~~ perfocraZe International Artist Residency [pIAR] emergency call ~~ <a href="http://support.perfocraze.art/" target="_blank">click here</a> to donate and support threatened LGBT+ performing artists in Ghana</p>
        </footer>

      </div><!-- END WRAPPER -->


        <script>
          // Populate Voice Data
          let voicedata = {};
          let allvoices = [];
          let opt;
          {% for v, vd in voicedata.items() %}
          voicedata['{{ v }}'] = {
            'name': "{{ vd['name'] }}",
            'annotations': `{{ vd['annotations'] }}`,
            'wishes': `{{ vd['wishes'] }}`,
            'transcript': `{{ vd['transcript'] }}`,
            'speaker': `{{ vd['speaker']}}`,
          }
          allvoices.push('{{ v }}');
          opt = document.createElement('option');
          opt.value = '{{ v }}';
          //opt.innerHTML = "{{ vd['vpname'] }}";
          opt.text = "{{ vd['name'] }}";
          voice.appendChild(opt);
          {% endfor %}
        </script>
        <script src="/js/voicesynthesizer.js"></script>
    </body>
</html>
