<!DOCTYPE html>
<html lang="en-us">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <title>An (In)audible Chorus :: Writing ::</title>
      <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!---Initialize structure of Title and house picture--->
        <div class = "title">
            <h1>An (In)audible Chorus :: Writing ::</h1>
        </div>

        <!---Containerize main page for styling--->
        <div class="main">

            <!---Containerize paragraph and form for styling--->
            <div class="container">

                <div class="intro">
                    <b>
                        <p class="Note">{{message}}</p>
                    </b>
                </div>


                <!---Initialize form structure and inputs, set method to "POST"--->
                <form action="{{url_for('predict')}}" method="post" class="info">

                  <div class="input-controls">

                    <div class="textcolumn">
                      <div class="label">
                      <label class="label" for="prompt">Type your text prompt:</label>
                      </div>
                      <textarea id="prompt" name="prompt" rows="10" cols="50" placeholder="Type your text prompt...">{{ last_prompt }}</textarea>
                    </div>

                    <div class="controlscolumn">
                      <div class="label">
                      <label for="temperature">Text randomness:</label>
                      </div>
                      <div class="slider-number">
                        <input type="range" min="1.0" max="100.0" step="1" class="slider" id="temperatureSlider" />
                        <input type="number" value={{ temperature }} name="temperature" id="temperatureNumber" />
                      </div>

                      <div class="label"><label for="max_length">Max Length:</label></div>
                      <div class="slider-number">
                        <input type="range" min="10" max="300" step="1" class="slider" id="maxLengthSlider" />
                        <input type="number" value={{ max_length }} name="max_length" id="maxLengthNumber" />
                      </div>

                      <br>
                      <div class="label">
                      <label for="num_predictions">Variations:</label>
                      <br><br>
                      <select id="numpredictionsDropdown" name="num_predictions"><option value="1">1</option><option value="2">2</option><option value="3">3</option></select>
                      </div>


                    </div>

                    <div class="generatecolumn">
                      <br><br>
                      <button type="submit" id="continue" name="generatebutton" class="btn">Generate</button>
                    </div>

                  </div>


                </form>

                <hr>

                <div class="predictions">

                  {% for pred in predictions %}

                    <div>
                    {% for p in pred %}
                    <p>{{p}}</p>
                    {% endfor %}
                    </div>

                  {% endfor %}

                </div>


            </div>
        </div>

        <script>
          let num_predictions_selected = {{ num_predictions }};
          numpredictionsDropdown.selectedIndex = num_predictions_selected - 1;
        </script>
        <script src="js/texter.js"></script>

        <footer>
          <p><a href="https://ahnen.in/" target="_blank">In Search of Good Ancestors / Ahnen in Arbeit</a></p>
          <p><a href="http://varia.zone/" target="_blank">Varia</a></p>
          <p><a href="https://huggingface.co/" target="_blank">huggingface.co</a></p>
        </footer>

    </body>
</html>
