body {
    background-color: black;
    background-size: cover;
    color: lightblue;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
}
form {
    text-align: center;
}

select {
  font-size: 1.5rem;
  height: 2rem;
}

.flexlabel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  font-size: 2rem;
  background: gold;
  text-align: center;
  color: darkblue;
  border: none;
  transition: all 0.2s;
  padding: 1rem;
  border-radius:5px;
}

button.btn-sm {
  font-size: 1rem;
  padding: 0.5rem;
  background: lightblue;
}

button.record {
  background: #996666;
}

button.record:hover, button.record:focus {
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
  background: #ee1111;
}

button:hover, button:focus {
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
  background: #0ae;
}

button:active {
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
  transform: translateY(2px);
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box
}

.Note {
    text-align: center;
    margin: 7px;
    padding: 7px 0px;
}
.intro {
    font-size: 20px;
}

.voiceinfo {
  text-align: left;
  padding: 10px 0px;
  font-size: 1em;
  font-family: monospace;
}

/*Layout and structure of form body in page*/
div.container {
    background-color: rgba(0,0,0,0.5);
    font-size: 18px;
    margin: 1%;
    border-radius: 10px;
    border: 1px soid rgba)255,255,255,0.3);
    box-shadow: 2px 2px 15px

}
div.page {
    width: 400px;
    margin: 100px auto 0px auto;
}
form.info {
    margin: 15px;
}

/*Design of links/buttons*/
a.link {
    font-weight: bold;
    background-color: orange;
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
    border-radius:3px;
    color: black;
    border-color: black;
    border-style: ridge;
}

/*Responsible for shadow backgrounds*/
#menu-outer {
    height: 70px;
    background-color: rgba(0,0,0,0.5);
    font-size: 18px;
    margin: 1%;
    border-radius: 10px;
    border: 1px soid rgba)255,255,255,0.3);
}
.table {
    display: table;
    margin: 0 auto;
    margin-left: 33.85%;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
}

/*This section is concerned with the link layout*/
a.link {
    margin-right: 20px;
    margin-left: 115px;
}
a.scikit {
    margin-left: 65px;
}

ul#horizontal-list li {
    display: inline;
}


div.title {
  width: 100%;
  margin: auto;
}

div.title img {
    display: inline-block;
    vertical-align:middle;
}

div.title h1 {
  width: 100%;
  font-size: 2em;
  text-align: center;
  display:inline-block;
  vertical-align:middle;
  font-family: "Copperplate Gothic Light";
}



.audioplayers {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 5px;
}

.player {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gold;
  border-radius:25px;
  text-align:center;
  font-size:3em;
  padding:3em;
  margin: 5px;
}

.player > audio {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.column-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  vertical-align: top;
  width: 100%;
  padding: 10px;
}

.column-form > div {
  text-align: left;
  width: 100%;
  margin: 20px;
}

#textdiv {
  min-width: 40vw;
}

#textdiv > textarea {
  width: 100%;
}

#voicediv {
  min-width: 20vw;
  max-width: 40vw;
}

#voicediv > select {
  width: 100%;
}


.column-item {
  margin: 5px;
}

div {
  font-weight:700;
}

/*Animation for links*/
a:link {color:blue}
a:visited {color:black}
a:active {color:red}
a:hover {font-size: 120%; color:black}
