body {
    background-color: black;
    background-size: cover;
    color: lightblue;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
}
form {
    text-align: center;
}


button {
  font-size: 2rem;
  background: gold;
  text-align: center;
  color: darkblue;
  border: none;
  transition: all 0.2s;
  padding: 1rem;
  border-radius:5px;
}

button.record {
  background: #996666;
}

button.record:hover, button.record:focus {
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
  background: #ee1111;
}

button:hover, button:focus {
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
  background: #0ae;
}

button:active {
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
  transform: translateY(2px);
}


/*Layout and structure of form body in page*/
div.container {
    background-color: rgba(0,0,0,0.5);
    font-size: 18px;
    margin: 1%;
    border-radius: 10px;
    border: 1px soid rgba)255,255,255,0.3);
    box-shadow: 2px 2px 15px

}
div.page {
    width: 400px;
    margin: 100px auto 0px auto;
}
form.info {
    margin: 15px;
}

/*Design of links/buttons*/
a.link {
    font-weight: bold;
    background-color: orange;
    padding: 8px 16px;
    display: inline-block;
    text-decoration: none;
    border-radius:3px;
    color: black;
    border-color: black;
    border-style: ridge;
}

/*Responsible for shadow backgrounds*/
#menu-outer {
    height: 70px;
    background-color: rgba(0,0,0,0.5);
    font-size: 18px;
    margin: 1%;
    border-radius: 10px;
    border: 1px soid rgba)255,255,255,0.3);
}
.table {
    display: table;
    margin: 0 auto;
    margin-left: 33.85%;
}

ul#horizontal-list {
    min-width: 696px;
    list-style: none;
}

/*This section is concerned with the link layout*/
a.link {
    margin-right: 20px;
    margin-left: 115px;
}

div.title {
  width: 100%;
  margin: auto;
}

div.title img {
    display: inline-block;
    vertical-align:middle;
}

div.title h1 {
  width: 100%;
  font-size: 2em;
  text-align: center;
  display:inline-block;
  vertical-align:middle;
  font-family: "Copperplate Gothic Light";
}

.input-controls {
  width: 100%;
  grid-template-columns: 33% 33% 33%;
  display: grid;
  grid-gap: 0;
  padding: 1em 1em 5em 1em;
}

.predictions {
  width: 100%;
  grid-template-columns: 33% 33% 33%;
  display: grid;
  grid-gap: 0;
  padding: 1em 1em 5em 1em;
}

.predictions > div {
  border-left: 2px solid lightblue;
  border-right: 2px solid lightblue;
  padding: 1em 1em 1em 1em;
}

select {
  font-size: 2em;
}

.slider-number {
  width: 100%;
  position: relative;
}

.slider-number > input[type=number] {
  font-size: 2em;
  width: 4em;
  padding: 0 0 0.3em 0;
  -moz-appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
  position: absolute;
  right: -1em;
  bottom: 0;
  background: none;
  border: none;
}

input[type=range] {
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 4em; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 4em; /* Specified height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 4em; /* Specified height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

div {
  font-weight:700;
}

/*Animation for links*/
a:link {color:blue}
a:visited {color:black}
a:active {color:red}
a:hover {font-size: 120%; color:black}
