<!---Initialize Home Page--->
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Voice Contributions</title>
        <link href="css/synthesizerstyle.css" rel="stylesheet" type="text/css">
    </head>
    <body>

      <div id="overlay"><h1>uploading ...</h1></div>

      <div id="wrapper">

        <h1 class="gradient-glow">Listening</h1>

        <!---Containerize main page for styling--->
          <section id="main-column">

            <div class="audioplayers">
              <aside>Voice Recordings</aside>
              {% for af in audiofiledata %}
              <div class="player">{{ loop.index }}
                <aside>{{af['name']}} - {{af['annotations']}}</aside>
                <audio controls>
                    <source src="{{af['filepath']}}" type="audio/wav">
                      Your browser does not support the audio tag.
                </audio>
              </div>
              {% endfor %}
            </div>

          </section>


        <!-- footer>
          <p><a href="https://ahnen.in/" target="_blank">In Search of Good Ancestors / Ahnen in Arbeit</a></p>
          <p><a href="http://varia.zone/" target="_blank">Varia</a></p>
          <p><a href="https://coqui.ai/" target="_blank">coqui.AI</a></p>
        </footer -->

        <footer>
          <p>~~ perfocraZe International Artist Residency [pIAR] emergency call ~~ <a href="http://support.perfocraze.art/" target="_blank">click here</a> to donate and support threatened performing artists in Ghana</p>
        </footer>

      </div><!-- END WRAPPER -->


        <script>
          // Populate Voice Data
        </script>
        <script src="/js/voicesynthesizer.js"></script>
    </body>
</html>
