<!---Initialize Home Page--->
<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>Voice Contributions</title>
        <link href="css/synthesizerstyle.css" rel="stylesheet" type="text/css">
    </head>
    <body>

      <div id="overlay"><h1>uploading ...</h1></div>

      <div id="wrapper">

        <header>
          <a href="/record">record</a>
          <a href="/listen">listen</a>
        </header>

        <h2 class="gradient-glow">Listening</h2>

        <!---Containerize main page for styling--->
          <section id="main-column">
            <div class="audioplayers">
              <aside></aside>
              {% for af in audiofiledata %}
              <div class="player">
                <aside><b>{{ loop.index }}</b>: {{af['name']}} -- {{af['annotations']}}</aside>
                <audio controls>
                    <source src="{{af['filepath']}}" type="audio/wav">
                      Your browser does not support the audio tag.
                </audio>
              </div>
              {% endfor %}
            </div>

          </section>


      </div><!-- END WRAPPER -->


        <script>
          // Populate Voice Data
        </script>
        <script src="/js/voiceplayer.js"></script>
    </body>
</html>
