<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Many Voices Voice Contribution</title>
    <link href="css/recordstyle.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="wrapper">

      <header>
        <a href="/record">record</a> || <a href="/listen">listen</a>
      </header>

      <div id="controls">


      <section id="recorder-column" class="controls">

        <header>
          <h1>Record...</h1>
        </header>

        <form id="voiceform" name="voiceform" action="{{url_for('upload_recording')}}" method="post" class="info" enctype="multipart/form-data">
            <input type="hidden" name="formid" value="1" />

        <canvas id="visualizer" class="visualizer" height="60px"></canvas>
        <button id="recordButton" class="record">Record</button>
        <button id="stopButton" class="stop">Stop</button>
        <section id="soundclips" class="sound-clips"></section>

        <label for="name">Short Name</label>
        <input type="text" id="name" name="name" placeholder="Name your recording" value="{{ names[0] }}" />
        <br>
        <br>
        <label for="annotation">Give your recording a longer descriptive name (optional)</label>
        <input type="text" id="annotation" name="annotation" placeholder="A descriptive name" value="{{ annotations[0] }}" />
        <br>
        <br>

        <button type="submit" id="submitButton" name="submitbutton" class="btn">Upload</button>
      </form>

      </section>

      <section class="log-column" id="log"><b>History:</b></section>

      </div>


    </div>

    <!-- <label id="checkbox-label" for="toggle">X</label>
    <input type="checkbox" id="toggle">
    <aside>
      <h2>Instructions</h2>
      <p>Built using <a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator.getUserMedia">getUserMedia</a> and the <a href="https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder_API">MediaRecorder API</a>, which provides an easier way to capture Media streams.</p>
    </aside> -->

    <script src="js/opusrecorder/recorder.min.js"></script>
    <script src="js/voicerecorder.js"></script>

  </body>
</html>
