* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
}

header {
  width: 100%;
  text-align: center;
}

.wrapper {
  height: 100%;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
}

h1, h2 {
  font-size: 3rem;
  text-align: center;
  font-weight: normal;
  padding: 0 0 0 0;
  margin-bottom: 2rem;
}

#controls {
  padding: 0.2rem 0;
  margin: 1vh 0;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

section, article {
  display: block;
}

canvas {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
}

.log-column {
  min-width: 300px;
  font-size: 1em;
  word-wrap: break-word;
  padding: 0;
  margin: 0;
}

.log-text {
  font-style: italic;
}

.log-data {
  font-family: monospace;
  background: lightgrey;
}


.controls {
  min-width: 300px;
  width: 40%;
  padding: 0px 1vw;
}

.controls label {
  display: block;
}

.controls input[type=text] {
  width: 100%;
  margin: 0.3rem 0.0;
}

.controls textarea {
  width: 100%;
}

.record-column {
  max-width: 30vw;
}

button {
  font-size: 2rem;
  padding: 2rem 0.1rem;
  width: calc(50% - 0.5rem);
  background: #0088cc;
  text-align: center;
  color: white;
  border: none;
  transition: all 0.2s;
  margin: 0.5em auto;
}

button.record {
  background: #996666;
}

button.record:hover, button.record:focus {
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
  background: #ee1111;
}

button:hover, button:focus {
  box-shadow: inset 0px 0px 10px rgba(255, 255, 255, 1);
  background: #0ae;
}

button:active {
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.5);
  transform: translateY(2px);
}


/* Make the clips use as much space as possible, and
 * also show a scrollbar when there are too many clips to show
 * in the available space */
.sound-clips {
  flex: 1;
  overflow: auto;
}


.clip {
  padding-bottom: 1rem;
}

audio {
  width: 100%;
  display: block;
  margin: 1rem auto 0.5rem;
}

.clip p {
  display: inline-block;
  font-size: 1rem;
}

.clip button {
  font-size: 1rem;
  float: right;
}

button.delete {
  background: #f00;
  padding: 0.5rem 0.75rem;
  font-size: 0.8rem;
}

/* Checkbox hack to control information box display */

#checkbox-label {
  font-size: 3rem;
  position: absolute;
  top: 2px;
  right: 3px;
  z-index: 5;
  cursor: pointer;
  background-color: black;
  border-radius: 10px;
}

input[type=checkbox] {
   position: absolute;
   top: -100px;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.3s all ease-out;
  background-color: #efefef;
  padding: 1rem;
}

aside p {
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

aside a {
  color: #666;
}

/* Toggled State of information box */
input[type=checkbox]:checked ~ aside {
  transform: translateX(0);
}

/* Cursor when clip name is clicked over */

.clip p {
  cursor: pointer;
}

/* Adjustments for wider screens */
@media all and (min-width: 800px) {
  /* Don't take all the space as readability is lost when line length
     goes past a certain size */
  .wrapper {
    width: 90%;
    max-width: 2000px;
    margin: 0 auto;
  }
}
