<!DOCTYPE html>
<html lang="en-us">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <title>An (In)audible Chorus :: Voicing ::</title>
      <link href="css/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <!---Initialize structure of Title and house picture--->
        <div class = "title">
            <h1>An (In)audible Chorus :: Voicing ::</h1>
        </div>

        <!---Containerize main page for styling--->
        <div class="main">

            <!---Containerize paragraph and form for styling--->
            <div class="container">

                <div class="intro">
                    <b>
                        <p class="Note">{{message}}</p>
                    </b>
                </div>

                <br>

                <form action="{{url_for('predict')}}" method="post" class="info">

                  <div class="column-form">

                    <div>
                    <label for="voice">Voice</label>
                    <br>
                    <select id="voice" name="voice" placeholder="Choose a Voice" required="required">
                    {% for v in voices %}

                      <option value="{{v}}">{{v}}</option>

                    {% endfor %}

                    </select>
                    </div>

                    <div>
                    <label for="voice">Language</label>
                    <br>
                    <select id="phonetic" name="phonetics" placeholder="Choose a Language" required="required">
                    {% for l in languages %}

                      <option value= "{{l}}"D>{{l}}</option>

                    {% endfor %}

                    </select>
                    </div>

                  <textarea id="text" name="text" rows="6" cols="50" placeholder="Type your text here...">{{text}}</textarea>


                  <input type="hidden" name="fileslist" value="{% for af in audiofiles %};{{af}}{% endfor %}" />
                  <button type="submit" id="synthesize" name="synthesizebutton" class="btn">Synthesize</button>

                </div>



                </form>

            </div>
        </div>
    </body>
</html>
